---
---

@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cardo:400,700&display=swap");

$navy: #243746;
$cream: #f3f1e9;
$ivory: #f9f8f5;

$yellow-light: #fcd672;
$blue-light: #73c3d5;

$accent-a: $yellow-light;
$accent-b: $blue-light;

@mixin small-screen {
  @media screen and (max-width: 768px) {
    @content;
  }
}

body {
  font-family: Cardo, -apple-system, serif;
  font-weight: 400;
  font-size: 15pt;
  color: $navy;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background: $ivory;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: $navy;
  scroll-margin-top: 80px;
}

b,
strong {
  font-weight: 700;
}

.content {
  width: 750px;
  margin: 0 auto;
}

.markdown-section {
  ol,
  p,
  ul {
    line-height: 1.5;
    word-spacing: 0;
  }

  em {
    color: $navy;
  }

  blockquote {
    border-left-color: $accent-b;
    color: $navy;

    p {
      color: $navy;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $navy;
  }

  h1:not(:first-of-type) {
    margin-top: 2em;
  }

  h5 {
    font-size: 1.15rem;
  }

  a {
    color: $navy;
    text-decoration-line: underline;
    text-decoration-color: $accent-b;
    text-decoration-thickness: 0.1em;
    font-weight: 400;
  }

  p {
    a {
      color: inherit;

      &:hover {
        text-decoration-line: underline;
        text-decoration-color: $navy;
        text-decoration-thickness: 0.1em;
      }
    }
  }

  li {
    margin-bottom: 10px;

    a {
      color: inherit;

      &:hover {
        text-decoration-line: underline;
        text-decoration-color: $navy;
        text-decoration-thickness: 0.1em;
      }
    }
  }

  code,
  pre,
  pre > code {
    background-color: $navy;
    color: $ivory;
  }
}

.dropdown__title {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

nav {
  background-color: $cream;
  padding: 0 1rem;
  display: grid;
  text-align: right;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;

    li {
      padding: 0;
    }
  }

  > ul {
    grid-auto-flow: column;

    > li {
      margin: 0 0.5rem;

      a,
      .dropdown__title {
        text-decoration: none;
        text-align: left;
        display: inline-block;
        color: $navy;
        font-size: 1.125rem;

        &:hover,
        &:focus,
        &:active {
          text-decoration-line: underline;
          text-decoration-color: $accent-a;
          text-decoration-thickness: 0.1em;
          color: $navy;
        }
      }

      > a,
      .dropdown__title {
        padding: 1rem 0.5rem;
      }
    }
  }
}

.dropdown {
  position: relative;

  .dropdown__menu {
    position: absolute;
    background-color: $cream;
    left: 75%;

    border-radius: 4px;
    // box-shadow: 0 0.15em 0.25em rgba(black, 0.25);
    padding: 0.5em 0;
    min-width: 50ch;

    transform: rotateX(0) translateX(-50%);
    transform-origin: top center;
    opacity: 1;
    visibility: hidden;

    a {
      color: $navy;
      display: block;
      padding: 0.5em;
    }
  }

  &:hover,
  &:focus-within {
    .dropdown__menu {
      visibility: visible;
      opacity: 1;
      transform: rotateX(0) translateX(-50%);
    }
  }
}
